.container {
  margin-top: 16px;
  width: 95%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #e8e8e8;
}

.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.container::-webkit-scrollbar-thumb {
  background: #191919;
  border: solid 1px #4e4e4e;
  border-radius: 4px;
}

.lineNumbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 8px;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  user-select: none;
}

.lineNumber {
  line-height: 1.5;
}

.code {
  margin-left: 8px;
  flex: 1;
  white-space: pre;
}
