@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  overflow-x: hidden;

  color: #c7c7c7;
  background-color: #191919;
}

:root::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

:root::-webkit-scrollbar-thumb {
  background: #191919;
  border: solid 1px #4e4e4e;
  border-radius: 4px;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}
