.logo {
  width: 72px;
  height: 72px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  @media (min-width: 1280px) {
    width: 82px;
    height: 82px;
  }
  @media (min-width: 1440px) {
    width: 92px;
    height: 92px;
  }
}

.logo:hover {
  animation: rotateInfinite 2s linear infinite;
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
