.btn {
  position: relative;
  padding: 0.5rem 2rem;
  background-color: #0f172a;
  border-radius: 1rem;
  border: solid 0.5px #5eead4;
  box-shadow: 0 1px 3px 0 #5eead4, 0 1px 2px -1px #5eead4;
  transition: transform 150ms ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

.txtNeon {
  position: absolute;
  inset: 0;
  font-weight: 600;
  color: #5eead4;
  filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt {
  position: relative;
  font-weight: 600;
  color: #2dd4bf;
}

.borderNeon {
  position: absolute;
  inset: 0;
  border: solid 1px #5eead4;
  border-radius: 1rem;
  filter: blur(4px);
}
