.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 4rem;
  color: #f1f5f9;
  background-color: #22c55e;
  border: solid 2px #f1f5f9;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 1.5rem;
  transition: 300ms ease-in-out;
}

.btn:hover {
  background-color: #15803d;
  transform: scale(1.05);
}

.btn:active {
  background-color: #22c55e;
}